{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Second-hand Books</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'image/book.png' %}" />
  <!-- css -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Prompt&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/all.css' %}">
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="\">
      <img src="{% static 'image/book.png' %}" width="30" height="30" class="d-inline-block align-top mr-1"
        alt="Book logo" />
      Second-hand Books
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}"
          href="{% url 'index' %}"><i class="fas fa-home"></i> หน้าแรก</a>
        <a class="nav-item nav-link {% if request.resolver_match.url_name == 'create' %}active{% endif %}"
          href="{% url 'create' %}"><i class="far fa-edit"></i> ตั้งกระทู้ใหม่</a>
          <a class="nav-item nav-link {% if request.resolver_match.url_name == 'manage' %}active{% endif %}"
          href="{% url 'manage' %}"><i class="fas fa-file-alt"></i> กระทู้ของฉัน</a>
      </div>
      <div class="navbar-nav mr-2">
        {% if user.is_authenticated %}
        <a class="nav-item nav-link active mx-2">
          <i class="fas fa-user mx-1"></i>: {{ user.get_username }}</a>
        <a class="btn btn-orange" href="{% url 'logout' %}">ออกจากระบบ</a>
        {% elif request.resolver_match.url_name != 'login' and request.resolver_match.url_name != 'register' %}
        <a class="btn btn-orange" href="{% url 'login' %}">เข้าสู่ระบบ</a>
        {% endif %}
      </div>
    </div>
  </nav>

  <!-- container -->
  <div class="container pt-4">
    {% block content %} {% endblock %}
  </div>
  <!-- script -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>